/**
 * claus.lol CSS file
 *
 * Author: lovetravelsfaster
 * Date: 2025-12-01
 * License: MIT
 */

/* terminal theme (from theme bash script) */
:root {
	--color1: #5fffff;
	--color2: #ff87af;
	--color3: #87ff87;
	--color4: #666;
	--color5: #ffd7af;
}

/* reset */
* {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: "-  ";
}

ol, ul {
  	padding-left: 0;
  	margin-left: 0;
  	list-style-position: inside;
}

/* helper */
.center {
	text-align: center;
}

.title {
	color: var(--color3);
}

.highlight {
	color: var(--color3);
}

.hidden {
	display: none;
}

.float-right {
	float: right;
}

.shadow {
	border: 1px solid #87ff8755; /* color3 */
	box-shadow: 0 0 200px #87ff8734;
}

@media (max-width: 650px) {
	.hide-mobile{
		display: none;
	}
}

/* layout and design */
body {
	background-color: #000;
	color: var(--color5);
	/*line-height: 18px;*/
	font-size: 13px;
}

body, code {
	font-family: "Fira Mono", monospace;
	font-weight: 400;
	font-style: normal;
}


b, strong, h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
}

/* Global block spacing */
p, ul, ol, pre, img, blockquote {
  margin-block: 1.1em;
}

p {
	max-width: 620px;
}

#container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	max-width: 800px;
	padding: 0 6px;
}

a, a:visited {
	color: var(--color1);
	text-decoration: none;
}

.logo {
	position: relative;
	float: right;
	clear: both;
	margin-left: 10px;
	margin-bottom: 10px;
}

.self-portrait {
	border-radius: 50%;
}

h1.title {
	margin-bottom: 21px;
}

#top-nav {
	text-align: left;
	border-bottom: 1px solid #87ff8755; /* color3 */
	margin-bottom: 21px;
}

#top-nav > ul {
	list-style: none;
	overflow: hidden;
}

#top-nav > ul > li {
	float: left;
}

#top-nav > ul > li.right {
	float: right;
}

#top-nav > ul > li > a {
	display: block;
	text-align: center;
	color: var(--color5);
	padding: 14px 13px;
	text-decoration: none;
}

#top-nav > ul > li a:hover {
	background-color: #333;;
}

#top-nav > ul > li .active {
	color: var(--color3);
}

#socials {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}

.footer {
        text-align: center;
        font-size: 12px;
}


/* terminal display */
pre.terminal {
	padding: 5px;
	background-color: #111;
	min-height: 420px;
	overflow-x: auto;
	line-height: 15px;
}

pre.terminal > code {
	font-size: 13px;
}

/* blinking cursor */
pre.terminal > code::after {
	content: "";
	width: 6px;
	height: 12px;
	background: var(--color5);
	display: inline-block;
	animation: cursor-blink 1.5s step-start infinite;
}

.no-animation::after {
	animation: none !important;
}

@keyframes cursor-blink {
	50% {
		opacity: 0;
	}
}

/* tput dim (theme override) */
pre.terminal > code .ansi2 {
	color: #666;
}

/* journal table */
table {
	width: 100%;
	border-collapse: collapse;
	color: var(--color3);
	font-size: 13px;
}

td {
	padding: 1px 12px;
}

th {
	font-weight: bold;
	padding: 10px 12px;
}

tr:nth-child(odd) {
	background-color: #131313;
}

tr:hover {
	background-color: #222;
}

#journal-table .title > .number {
	color: var(--color4);
}

#journal-table .title > .name {
	color: var(--color3);
}

#journal-table .description {
	color: var(--color5);
}

#journal-table .description > .code {
	color: var(--color2);
}

#journal-table .link {
	/*
	font-weight: italic;
	color: var(--color5) !important;
	*/
}
